/* Card Styles */
.card {
    border: 2px solid #dee2e6;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #ffffff;
    transition: box-shadow 0.3s ease;
    max-width: 400px;
    margin: 0 auto 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Link dentro de las cards */
.card-link {
    font-size: 18px;
    color: #66bb6a;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    padding: 10px 0;
    transition: color 0.3s ease;
    text-align: center;
}

.card-link:hover {
    color: #388e3c;
}