/* Estilos para que el texto Título y Crear Noticia tengan letras blancas */
.table-header {
    color: white; /* Letra blanca */
}

/* Quitar el estilo del enlace Crear Noticia */
.table-header a {
    color: white; /* Cambiar el color del enlace a blanco */
    text-decoration: none; /* Quitar el subrayado del enlace */
}

.table-header a:hover {
    color: #ccc; /* Cambiar el color del enlace cuando el cursor esté encima (opcional) */
}

/* Título de la noticia en color verde */
.noticia-titulo {
    color: green;
    font-weight: bold; /* Opcional, para hacer el texto más resaltado */
}

/* Botón para editar noticia */
h\:commandButton {
    background-color: #4CAF50; /* Verde */
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

h\:commandButton:hover {
    background-color: #45a049; /* Un tono más oscuro al pasar el mouse */
}