/* General Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #e8f5e9;
    color: #2e7d32;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Hace que el cuerpo siempre ocupe al menos el alto completo de la ventana */
}

.container {
    width: 80%;
    margin: 0 auto;
    background-color: transparent; /* Fondo transparente */
    box-shadow: none; /* Sin sombra */
    border-radius: 0; /* Sin bordes redondeados */
    padding: 0; /* Asegúrate de que no haya padding, si lo había */
}

h1 {
    color: #2e7d32;
    text-align: center; /* Centrar el título */
}

h2 {
    color: #2e7d32;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Navbar Styles */
.navbar {
    background-color: #2e7d32;
    color: #fff;
    padding: 10px;
}

.navbar a {
    color: #fff;
    padding: 10px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #66bb6a;
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
}

table th,
table td {
    border: 1px solid #dee2e6;
    padding: 10px;
    text-align: left;
}

table th {
    background-color: #66bb6a;
    color: #ffffff;
}

table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tbody tr:hover {
    background-color: #e9ecef;
}

/* No news message */
div {
    text-align: center;
    font-size: 18px;
    color: #66bb6a;
}

/* Footer Styles */
footer {
    background-color: #2e7d32;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: relative;
    width: 100%;
    margin-top: auto; /* Esto asegura que el footer se mantenga al final */
}

